body{background-color: #023047;font-family:Montserrat; width: 100%; margin: 0px;}
.logo{background-color: #011824;text-align: center; padding: 27px; color:aliceblue}
.nombre{text-align: center; padding: 30px; color: aliceblue;}
button{background-color: aliceblue;color: black; border: 0px; border-radius: 3px;}

